h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: orange;
}

canvas{
   animation-name: changeColor;
   animation-duration: 5s;
   animation-iteration-count: infinite ;
   margin: 50px auto;
   }

@keyframes changeColor{
   from{box-shadow: 1px 1px 38px cyan;}
   to{box-shadow: 1px 1px 38px  lightgreen;}
}
